<h1>Header Level One</h1>
<h2>Header Level Two</h2>
<h3>Header Level Three</h3>
<h4>Header Level Four</h4>
<h5>Header Level Five</h5>

<p>
We caught the tread of dancing feet,<br/>
We loitered down the moonlit street,<br/>
And stopped beneath the harlot’s house.
</p><p>
Inside, above the <strong>din and fray</strong>,<br/>
We heard the loud musicians play<br/>
The <em>“Treues Liebes Herz”</em> of Strauss.
</p><p>
Like strange mechanical grotesques,<br/>
Making fantastic arabesques,<br/>
The shadows raced across the blind.
</p><p>
We watched the ghostly dancers spin<br/>
To sound of horn and violin,<br/>
Like black leaves wheeling in the wind.
</p><p>
Like wire-pulled automatons,<br/>
Slim silhouetted skeletons<br/>
Went sidling through the slow quadrille.
</p><p>
They took each other by the hand,<br/>
And danced a stately saraband;<br/>
Their laughter echoed thin and shrill.
</p><p>
Sometimes a clockwork puppet pressed<br/>
A phantom lover to her breast,<br/>
Sometimes they seemed to try to sing.
</p><p>
Sometimes a horrible marionette<br/>
Came out, and smoked its cigarette<br/>
Upon the steps like a live thing.
</p><p>
Then, turning to my love,I said,<br/>
“The dead are dancing with the dead,<br/>
The dust is whirling with the dust.”
</p><p>
But she—she heard the violin,<br/>
And left my side, and entered in:<br/>
Love passed into the house of lust.
</p><p>
Then suddenly the tune went false,<br/>
The shadows wearied of the waltz,<br/>
The shadows ceased to wheel and whirl.
</p><p>
And down the long and silent street,<br/>
The dawn, with silver-sandalled feet,<br/>
Crept like a frightened girl.
</p>